@import "variables.css";
@import "movement.css";
@import "form.css";
@import "tabs.css";

body {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
    overflow: hidden;

    font-family: var(--fontFamily);
    font-size: var(--fontSize);

    & a {
        color: var(--grayColor);
        &:hover {
            text-decoration: underline;
        }
    }

    & #app {
        background: #ffffff;
        width: 60%;
        margin: auto;
        border-radius: 4px;
        box-sizing: border-box;
        max-width: 440px;
        min-width: 300px;
        & h1 {
            text-align: center;
            margin: 0;
        }
        & p {
            font-size: 12px;
            line-height: 22px;
            color: var(--grayColor);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}