@import "variables.css";
@import "movement.css";
@import "form.css";
@import "tabs.css";

body {
    background: #5c8b94;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);

    & a {
        color: var(--grayColor);
        &:hover {
            text-decoration: underline;
        }
    }

    & #app {
        background: #ffffff;
        width: 60%;
        margin: 20px auto;
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;

        max-width: 440px;
        min-width: 300px;
        & h1 {
            text-align: center;
        }
        & p {
            font-size: 12px;
            line-height: 22px;
            color: var(--grayColor);
        }
    }
}